.PostPage-Conatiner {
  background-color: #202124;
  height: 100vmax;
}

.PostsPage-Card {
  display: grid;
  gap: 10px;
  padding: 1rem;
}

.PostsPage-h1 {
  color: white;
  text-align: center;
  padding: 1rem 0;
}
